*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

li.nav-item {
  padding: 0 40px 0 0;
}

nav {
  
  background-color: #fff;
  /* border-radius: 5px;
  padding: 15px; */
}

a.nav-link {
  color: #416FAB !important;
  font-size: 20px;
  
}
.nav-link {
  color: #416FAB;
}

.navbar-toggler {
  margin: 20px;
  
}

a.dropdown-item {
  color: #CE1B75;
}

a.dropdown-item:hover {
  color: #416FAB;
}
img.img-fluid {
  width: 400px;
}
a.navbar-brand {
  margin: 0;
}
li.nav-item.active {
  padding-left: 0;
}

.boja {
  background-color: green;
  
  
}
.velikoSlovo {
  text-transform: capitalize;
}
 
div.col-sm-12.col-md-3.col-lg-3.boja {
  padding: 0;
}








