*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

li.nav-item {
  padding: 0 40px 0 0;
}

nav {
  
  background-color: #fff;
  /* border-radius: 5px;
  padding: 15px; */
}

a.nav-link {
  color: #416FAB !important;
  font-size: 20px;
  
}
.nav-link {
  color: #416FAB;
}

.navbar-toggler {
  margin: 20px;
  
}

a.dropdown-item {
  color: #CE1B75;
}

a.dropdown-item:hover {
  color: #416FAB;
}
img.img-fluid {
  width: 400px;
}
a.navbar-brand {
  margin: 0;
}
li.nav-item.active {
  padding-left: 0;
}

.velikoSlovo {
  text-transform: capitalize;
}
 
div.col-sm-12.col-md-6.col-lg-6.boja {
  text-align: center; 
  margin-top: 1px;
  background-color: #416FAB;

 
 
}

.srce {
  color: white;
  padding: 5px;
} 

.srce:hover {
  color: red;
  transition: 1000ms;
  cursor: pointer;
}

h3 {
  color: white;
  cursor: pointer;
}

div.col-sm-12.col-md-6.col-lg-6
 {
  margin-top: 20px;
}
ul.informacije{
  list-style: none;
  margin: 10px 0 0 10px;
  
}

footer.container-fluid {
  background-color: #d9dce0;
  padding: 0;
}

form.vesti {
  margin: 10px 0 0 10px;
}

ul.informacije li a {
  text-decoration: none;
  padding: 5px;
}

#logo2 {
  margin: 10px 0 0 10px;

}

img#logo2.img-fluid {
  width: 300px;
}

.ned {
  background-color: lightgreen;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.pon-sub {
  color: #fff;

}

div.col-sm-12.col-md-4.col-lg-4 {
  padding-right: 0;
}







