* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

body {
	font-family: 'Roboto', sans-serif;
}

li.nav-item {
	padding: 0 40px 0 0;
}

nav {
	background-color: #fff;
}

div.form-row {
	margin-left: 10px;
}

.logoKategorija {
	width: 98%;
	text-align: center;
	margin-left: 5px;
}

a.nav-link {
	color: #416FAB !important;
	font-size: 20px;
}

#logout {
	float: right;
	margin-right: 50px;
}

iframe.img-fluid {
	height: 350px;
}

.wifi {
	transform: rotate(230deg);
	color: #CE1B75;
}

.nav-link {
	color: #416FAB;
}

.ikonice {
	color: #CE1B75;
}

a.btn.btn-primary.pregledi {
	margin-left: 10px;
	background-color: #416FAB;
}

button.btn.btn-link {
	text-decoration: none;
	font-size: 25px;
}

.navbar-toggler {
	margin: 20px;
}

a.dropdown-item {
	color: #CE1B75;
}

a.dropdown-item:hover {
	color: #416FAB;
}

img.img-fluid {
	width: 400px;
}

a.navbar-brand {
	margin: 0;
}

li.nav-item.active {
	padding-left: 0;
}

.velikoSlovo {
	text-transform: capitalize;
}

div.col-sm-12.col-md-6.col-lg-6.boja {
	text-align: center;
	margin-top: 1px;
	background-color: #416FAB;
}

table.table {
	width: auto;
	overflow-y: hidden;
	text-align: center;
	background-color: #416FAB;
	color: #fff;
}

.srce {
	color: white;
	padding: 5px;
}

.srce:hover {
	color: red;
	transition: 1000ms;
	cursor: pointer;
}

h3 {
	color: white;
	cursor: pointer;
}

div.col-sm-12.col-md-6.col-lg-6 {
	margin-top: 20px;
}

ul.informacije {
	list-style: none;
	margin: 10px 0 0 10px;
}

footer.container-fluid {
	background-color: #ced2db;
	padding: 0;
	margin-top: 35px;
}

div.col-sm-12.col-md-4.col-lg-4.lokacija {
	margin-top: 35px;
}

div.col-sm-12.col-md-4.col-lg-4.vreme {
	margin-top: 35px;
}

form.vesti {
	margin: 10px 0 0 10px;
}

ul.informacije li a {
	text-decoration: none;
}

#logo2 {
	margin: 10px 0 0 10px;
}

img#logo2.img-fluid {
	width: 300px;
}

.ned {
	background-color: #CE1B75;
	color: #fff;
	border-radius: 5px;
	padding: 5px;
}

.pon-sub {
	color: #fff;
}

div.col-sm-12.col-md-4.col-lg-4 {
	padding-right: 0;
}

ul.radnoVreme li {
	list-style: none;
	padding-top: 10px;
}

p.copyright {
	text-align: center;
	margin-top: 10px;
	color: #fff;
	font-weight: 700;
}

div.col-sm-12.col-md-12.col-lg-12.pozadina {
	background-color: #416FAB;
}

div.col-sm-12.col-md-12.col-lg-6.forma {
	background-color: #416FAB;
	padding: 10px;
	border-radius: 10px;
}

h2.formular {
	font-weight: 700;
	color: #fff;
}

hr.linija {
	border: 1px solid #fff;
}

form {
	padding: 10px;
}

label.tekst {
	color: #fff;
	margin: 0;
	margin-top: 10px;
}

input#ime {
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 8px;
}

input#email {
	margin-bottom: 5px;
	margin-left: 4px;
	border-radius: 10px;
}

input#fix {
	margin-bottom: 5px;
	margin-left: 5px;
	border-radius: 8px;
}

input#mob {
	margin-bottom: 5px;
	border-radius: 8px;
}

div.col-sm-12 input#mob {
	margin-left: 4px;
}

select#lekar {
	border-radius: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
}

input#datum {
	border-radius: 8px;
	margin-bottom: 5px;
	margin-left: 8px;
}

p.obavestenje {
	color: #fff;
	margin-top: 10px;
}

h2.tim {
	font-weight: 700;
	color: #86888c;
}

input.btn.salji {
	margin-bottom: 0;
	background-color: #fff;
	color: black;
}

div.row.dugmici {
	margin: 3px;
}

input.btn.brisi {
	margin-left: 5px;
	background-color: #fff;
	color: black;
}

input.btn.salji:hover {
	background-color: green;
	transition: 0.5s;
	color: #fff;
}

input.btn.brisi:hover {
	background-color: red;
	transition: 0.5s;
	color: #fff;
}

#button {
	display: inline-block;
	background-color: #CE1B75;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
}

i.fas.fa-chevron-up {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	color: #fff;
}

#button:hover {
	cursor: pointer;
	background-color: #CE1B75;
}

#button:active {
	background-color: #CE1B75;
}

#button.show {
	opacity: 1;
	visibility: visible;
}

@media (min-width: 500px) {
	.content {
		width: 43%;
	}
	#button {
		margin: 30px;
	}
}

div.col-sm-12.col-md-12.col-lg-12.oNama {
	background-color: #CE1B75;
	padding: 10px;
}

h1.onama {
	color: #fff;
	font-weight: 700;
	margin-left: 40px;
}

h4.h4 {
	margin-top: 20px;
}

img.img-fluid.zgrada {
	margin-top: 63px;
	margin-bottom: 20px;
}

ul li.style {
	padding-bottom: 10px;
}

div.col-sm-12.col-md-12.col-lg-12.media {
	margin-left: 20px;
	margin-top: 30px;
}

.fab.fa-github {
	color: #CE1B75;
	font-size: 40px;
}

.fab.fa-linkedin {
	color: #CE1B75;
	font-size: 40px;
	padding-left: 20px;
}